{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"proseWrap": "never",
	"endOfLine": "auto",
	"semi": true,
	"tabWidth": 2,
	"vueIndentScriptAndStyle": false,
	"embeddedLanguageFormatting": "auto",
	"overrides": [
		{
			"files": ".prettierrc",
			"options": {
				"parser": "json"
			}
		}
	]
}
